#jum .jumbotron {
    
  background-image: url('Imagenes/fondo.jpg');
   height:350px;
}


#jum {    

    width: 94%;
   
    margin: 55px auto;
    padding-top:8px;
}
#a{
   border: 1px solid blue;
  width:300px;
    font-size:1.8em;
    margin-left:300px;
}
#formulario {
    
    border: 1px  solid darkgoldenrod ;
    color:darkgoldenrod;
}


#info{
    
   

    
}
#info h3{
    text-align:center;
    text-decoration:underline;
}
