
@{
    ViewBag.Title = "Quienes";
}

<div class="jumbotron">

    <h1>Online Store</h1>
    <p>Mission, Vission & Values</p>
    <span class="glyphicon-arrow-down"></span>
</div>

<div class="container-fluid">
    <p>
        Somos una marca con una amplia variedad de criterios, buscando adecuarse a distintos estilos y tipologías,
        resaltando los encantos que cada una tiene sin importar la edad ni estilo. Nuestra misión es acercar un producto de alta calidad y
        originalidad de forma rápida, sencilla y segura. Por eso decidimos implementar esta plataforma online,
        para que puedas comprar de nuestro catálogo y disfrutar de las prendas o accesorios lo mas rápido posible.

        Nos define lo elegante y también lo informal.



        ...... fue pensado para vos.
    </p>
</div>
